<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes App - Create Account</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <form method="post" action="{{ url_for('create_account') }}">
        <p>Create Account</p>
        <label for="name">Name</label>
        <br>
        <input type="text" name="name" id="name" placeholder="Enter your Name">
        <br><br>
        <label for="password">Password (Min. 8 characters)</label>
        <br>
        <input type="password" name="password" id="password" placeholder="Enter your Password">
        <br><br>
        <input type="submit" value="Create Account">
    </form>

    <br>
    <a href="{{ url_for('login_page') }}">Already have an account? Log in</a>
</body>
</html>
