<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes App - Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>Notes App</h1>

  <form method="post" action="/login"> 
    <p>Please login to continue</p>
    <label for="name">Name</label>
    <br>
    <input type="text" id="name" name="name" placeholder="Enter your Name">
    <br><br>
    <label for="password">Password</label>
    <br>
    <input type="password" id="password" name="password" placeholder="Enter your Password">
    <br><br>
    <input type="submit" value="Login">
  </form>
</body>
</html>
